@import '../../../App.scss';

.divider {
  width: 474px;
  height: 0px;
  border: 1px solid #edeff5;
  margin-left: 0;
}

.insured-data-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.insured-count-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 474px;
}

.insureds-container-grid {
  display: grid;
  grid-template-columns: 278px 98px 98px;
  width: 478px;
}

.display-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-data {
  font-family: $roboto-font;
  font-style: Light;
  font-size: $h6;
  line-height: $h6;
  color: $text-color;
}

.edit-delete {
  @include fontLatoNormal();
  font-size: $h6;
  line-height: $h1;
  color: $light-gray;
}

.width-219 {
  width: 219px;
}

.insurends-form-container-grid {
  display: grid;
  grid-template-columns: 130px 100px 1fr;
  grid-auto-rows: 40px;
  width: 478px;
}

.subtitle-form-text-grid {
  @include fontRoboto();
  font-weight: 300;
  font-size: 14px;
  color: $text-color;
}

.link-grid {
  @include fontLatoNormal();
  font-size: $h6;
  line-height: 23px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #939dff;
}

.title-form-grid {
  @include fontLatoNormal();
  font-weight: 300;
  font-size: $h2;
  margin: 0;
  text-align: right;
  color: #494f66;
}

.subtitle-form-h3-grid {
  @include fontLatoNormal();
  font-weight: 300;
  font-size: $h3;
  color: $gray;
}

.add-insureds {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 250px;
}
