@import '../../../App.scss';

.divider {
  width: 474px;
  height: 0px;
  border: 1px solid #edeff5;
  margin-left: 0;
}

.insured-data-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.insured-count-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 474px;
}

.link {
  color: #939dff;
  @include fontLatoNormal();
  font-size: $h6;
  line-height: $text;
  text-align: right;
  letter-spacing: 0.2px;
}
