@import '../../../App.scss';

.pricebox-container-check {
  width: 142px;
  height: 112px;
  background: #ffffff;
  border: 1px solid #92d66f;
  border-radius: 12px;
  padding-left: 16px;
  padding-bottom: 16px;
  margin-right: 10px;
}

.pricebox-container-uncheck {
  width: 152px;
  height: 122px;
  background: #ffffff;
  border: 1px solid #f7f7fa;
  box-sizing: border-box;
  border-radius: 12px;
}

.pricebox-title {
  @include fontLatoNormal();
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #939dff;
}

.pricebox-price {
  @include fontLatoNormal();
  font-size: 24px;
  line-height: 36px;
  color: #494f66;
}

.pricebox-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: $h6;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: $text-color;
}

.price-group-container {
  display: flex;
  flex-direction: row;
}

.pricebox-container-check {
  width: 152px;
  height: 122px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #92d66f;
  border-radius: 12px;
  padding-left: 16px;
  padding-bottom: 16px;
  margin-right: 10px;
}

.pricebox-container-uncheck {
  width: 152px;
  height: 122px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #f7f7fa;
  border-radius: 12px;
  padding-left: 16px;
  padding-bottom: 16px;
  margin-right: 10px;
}

.pricebox-title {
  @include fontLatoNormal();
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #939dff;
  height: 16px;
}

.pricebox-price {
  @include fontLatoNormal();
  font-size: 24px;
  line-height: 36px;
  color: #494f66;
  height: 30px;
  display: flex;
}

.pricebox-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: $h6;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: $text-color;
  height: 16px;
}

.badge {
  @include fontLatoNormal();
  font-size: 14px;
  line-height: 30px;
}

.check-icon {
  position: absolute;
  margin-top: 8px;
  margin-left: 110px;
}

.no-border {
  border: none;
}

.dscto {
  @include input();
  border: none;
}

.dscto:focus {
  outline: none;
}
.no-border:focus {
  outline: none;
}

.border {
  border: solid 1px #d4d5e8;
  height: 56px;
  width: 433px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $border-radius;
}

.apply-btn {
  @include primary-button();
  @include fontLatoNormal();
  width: 90px;
  height: 40px;
  font-size: 12px;
  margin-right: 10px;
}

.cupon-selected {
  @include fontRoboto();
  font-style: normal;
  color: $text-color;
  font-weight: 300;
  font-size: $text;
  line-height: 24px;
}

.redeem-cupon {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid-payment-form {
  display: grid;
  grid-template-columns: 16px 369px 1fr;
  grid-template-rows: repeat(4, 56px);
  width: 434px;
  border: 1px solid #d4d5e8;
  box-sizing: border-box;
  border-radius: 4px;
}

.grid-input-large {
  width: 369px;
  height: 56px;
  box-sizing: border-box;
  border-bottom: 1px solid #d4d5e8;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #a9b1d1;
}

.grid-input-medium {
  width: 221px;
  height: 56px;
  box-sizing: border-box;
  border-bottom: 1px solid #d4d5e8;
  border-right: 1px solid #d4d5e8;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #a9b1d1;
}

.grid-input-small {
  width: 133px;
  height: 56px;
  box-sizing: border-box;
  border-bottom: 1px solid #d4d5e8;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #a9b1d1;
}

.grid-icon {
  height: 56px;
  box-sizing: border-box;
  border-bottom: 1px solid #d4d5e8;
  display: flex;
  align-items: center;
}

.grid-input-spacer {
  width: 16px;
  height: 56px;
  box-sizing: border-box;
  border-bottom: 1px solid #d4d5e8;
}

.grid-start-column {
  grid-column: 1;
}

.grid-center-column {
  grid-column: 2;
}

.grid-end-column {
  grid-column: 3;
}

.grid-title-row {
  grid-row: 1;
}

.grid-card-row {
  grid-row: 2;
}

.grid-dateCvv-row {
  grid-row: 3;
}

.grid-email-row {
  grid-row: 4;
}

.ft-12 {
  font-size: 13px;
}
