@import '../App';

.wrapper {
  @include gridContainer();
  grid-template-columns: 0.5fr 1fr;
  height: 100vh;
  width: auto;
}
.aside {
  @include leftSide();
}

.girl-image {
  position: absolute;
  margin-left: 60%;
  margin-top: 25%;
}

.form-align-left {
  grid-area: form;
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  margin-left: 30%;
}

.form-steps {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
}

.primary-button {
  // margin-top: 48px;
  background: #ef3340;
  border-radius: 6px;
  width: 151px;
  height: 48px;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: $title-color;
  box-shadow: none;
}

.large-input {
  @include input();
  width: 376px;
}

.bottom {
  display: flex;
  margin-left: 50px;
  align-content: space-around;
}
