@import '../../../App';

.aside {
  @include leftSide();
}

.girl-image {
  position: absolute;
  margin-left: 60%;
  margin-top: 25%;
}

.disabled-button {
  background: $gray;
  @include primary-button();
}

.bottom {
  padding-left: 100px;
}
