@import '../../../App';

.wrapper {
  @include gridContainer();
  grid-template-columns: 0.5fr 1fr;
  height: 100vh;
  width: auto;
}
.aside {
  @include leftSide();
}

.girl-image {
  position: absolute;
  margin-left: 60%;
  margin-top: 25%;
}

.form-steps {
  @include fontLatoNormal();
  font-size: 12px;
  line-height: 17px;
}

.primary-button {
  @include primary-button();
}

.disabled-button {
  background: $gray;
  @include primary-button();
}

.large-input {
  @include input();
  width: 376px;
}

.bottom {
  padding-left: 100px;
}
