@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

$primary-color: #ef3340;
$secondary-color: #f55d68;
$text-color: #676f8f;
$title-color: #ffffff;
$gray: #494f66;
$roboto-font: 'Roboto', sans-serif;
$border-radius: 4px;
$h1: 48px;
$h2: 28px;
$h3: 18px;
$text: 16px;
$h6: 12px;

@mixin leftSide {
  background-color: $primary-color;
  color: $title-color;
  grid-area: aside;
  transform-origin: top left;
  transform: skew(178deg);
  border-bottom-right-radius: 80px;
}

@mixin fontLatoNormal {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}

@mixin gridContainer {
  display: grid;
  grid-template-areas: 'aside form';
  height: 100vh;
  width: auto;
}

@mixin input {
  @include fontLatoNormal()
  width: 278px;
  height: 56px;
  border: 1px solid #d4d5e8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 16px;
  font-size: $text;
  line-height: $text;
  padding-left: $text;
}

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

.h1 {
  font-size: $h1;
}

.h2 {
  font-size: $h2;
}

.h3 {
  font-size: $h3;
}

.h6 {
  font-size: $h6;
}

.primary-color {
  color: $primary-color;
}

.bold {
  font-weight: bold;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-16 {
  margin-top: $text;
}

.margin-top-24 {
  margin-top: 24px;
}

.margin-top-32 {
  margin-top: 32px;
}

.margin-top-64 {
  margin-top: 64px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}
.margin-left-16 {
  margin-left: $text;
}

.title-form {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: $h2;
  line-height: 36px;
  letter-spacing: -0.2px;
  color: $gray;
}

.subtitle-form-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: $text;
  line-height: 24px;
  color: $gray;
}

.subtitle-form-h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: $h3;
  line-height: 36px;
  color: $gray;
}

.subtitle-form-h6 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: $h6;
  line-height: 16px;
  text-transform: uppercase;
  color: $gray;
}

.input-select-section {
  flex-direction: row;
}

.input-select {
 @include fontLatoNormal()
  width: 190px;
  height: 56px;
  background: $title-color;
  border: 1px solid #d4d5e8;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-size: $text;
  line-height: 19px;
}

.input-select-disable {
 @include fontLatoNormal()
  width: 285px;
  height: 56px;
  background: #f7f7fa;
  border: 1px solid #d4d5e8;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-size: $text;
  line-height: 19px;
}

.input {
  @include input();
}

select {
  @include fontLatoNormal()
  background: $title-color;
  width: 89px;
  height: 56px;
  border: 1px solid #d4d5e8;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-size: $text;
  line-height: 19px;
  padding-left: 16px;
}

.select-disable {
  @include fontLatoNormal()
  background: #f7f7fa;
  width: 89px;
  height: 56px;
  border: 1px solid #d4d5e8;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-size: $text;
  line-height: 19px;
  padding-left: 16px;
}

.radiobutton {
 @include fontLatoNormal()
  font-size: 14px;
  line-height: 16px;
  color: #d4d5e8;
}

.error-messages {
  color: $secondary-color;
  font-size: $h6;
}

.input-select-large {
  @include input();
  width: 288px; 
}

.form-align-left {
  grid-area: form;
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  margin-left: 30%;
}