@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

$primary-color: #ef3340;
$secondary-color: #f55d68;
$text-color: #676f8f;
$title-color: #ffffff;
$gray: #494f66;
$roboto-font: 'Roboto', sans-serif;
$border-radius: 4px;
$h1: 48px;
$h3: 18px;
$text: 16px;
$h6: 12px;

@mixin leftSide {
  background-color: $primary-color;
  color: $title-color;
  grid-area: aside;
  transform-origin: top left;
  transform: skew(178deg);
  border-bottom-right-radius: 80px;
}

@mixin gridContainer {
  display: grid;
  grid-template-areas: 'aside form';
  height: 100vh;
  width: auto;
}

* {
  font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}
